{{  define "wireguard.conf.templ"}}

[Interface]
PrivateKey = {{ .VpnClientPrivateKey }}
Address = {{ .VpnClientAddress }}

{{ range Peers . }}
    {{ template "wireguard.peer.templ" }}
{{ end }}

{{ end }}
